<h1>Hello from Rails!</h1>
<p>
    It is now <%= @time %>
    </br>
    1 + 2 => <%= 1 + 2 %>
    </br>
    "cow" + "boy" => <%= "cow" + "boy" %>
    </br>
    In one hour it'll be: <%= 1.hour.from_now.localtime %>
</p>

<p>
    Time to say
    <%= link_to "Goodbye", say_goodbye_path %>!
</p>